<?xml version='1.0' encoding='UTF-8'?>
<plugin id="cordova-plugin-rest-banxico" version="0.1.0" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>RESTBanxico</name>

    <platform name="android">
        <js-module name="RESTBanxico" src="www/RESTBanxico.js">
            <runs/>
            <clobbers target="RESTBanxico" />
        </js-module>
        <config-file parent="/*" target="config.xml">
            <feature name="RESTBanxico">
                <param name="android-package" value="cordova.plugin.rest.banxico.RESTBanxico" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/RESTBanxico.java" target-dir="src/cordova/plugin/rest/banxico/RESTBanxico" />
        <!-- <framework src="src/android/build.gradle" custom="true" type="gradleReference" /> -->
        <framework src="'com.android.volley:volley:1.1.1" />
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="RESTBanxico">
                <param name="ios-package" value="RESTBanxico" />
            </feature>
        </config-file>
        <source-file src="src/ios/RESTBanxico.m" />
    </platform>
</plugin>