<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-rest-banxico" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>RESTBanxico</name><js-module name="RESTBanxico" src="www/RESTBanxico.js"><clobbers target="cordova.plugins.RESTBanxico" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="RESTBanxico"><param name="android-package" value="cordova-plugin-rest-banxico.RESTBanxico" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml" /><source-file src="src/android/RESTBanxico.java" target-dir="src/cordova-plugin-rest-banxico/RESTBanxico" /></platform><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="RESTBanxico"><param name="ios-package" value="RESTBanxico" /></feature></config-file><source-file src="src/ios/RESTBanxico.m" /></platform></plugin>